.nav__link--active {
    color: black;
}
.nav__link--active {
    color: purple;
    font-weight: bold;
}

.text{
color: magenta;
padding-left: 50px;
padding-top: 20px;
display: flex;
margin: 0%;

}

