.nav__link--active {
    color: black;
}
.nav__link--active {
    color: purple;
    font-weight: bold;
}

.text{
color: magenta;
padding-top: 20px;
padding-right: 20px;
display: flex;
margin: 0%;
justify-content: flex-start;

}

